<section>
    <div class="contanier">
        <div class="row">
            <div class="offcanvasCard">
                <button class="btn btn-primary px-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"> Menu</button>

                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                  <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Menu</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                  </div>
                  <div class="offcanvas-body">
                    <button class="border-0 p-3 rounded text-capitalize"><i class="fa-sharp fa-solid fa-circle-plus pe-2 text-info fs-5"></i>create new tour</button>
                    <div class="mt-5">
                        <button class="text-capitalize border-0 p-3 d-block  bg-transparent">
                            <i class="fa-sharp fa-solid fa-clock pe-2 text-warning"></i> dashBoard
                        </button>
                        <button routerLink="/admin/profile/{{id}}" class="text-capitalize border-0 p-3 d-block bg-transparent">
                            <i class="fa-solid fa-user pe-2 text-warning"></i>profile
                        </button>
                    </div>
                  </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
    </div>
</section>
