<section id="adminOverView">
  <div class="container">
    <div class="row  m-auto rounded-3 mt-4 bg-light py-3">
      <h5 class="text-capitalize ps-5 pt-3 fw-light fs-2">over view</h5>
      <div class="d-flex flex-wrap  justify-content-evenly align-text-center adminOverViewCards">

        <div class="">
            <div class=" col-lg-3 col-md-6 col-sm-12 card text-center border-0 yellowCard" style="width :12rem;">
                <div class="card-body">
                  <h2 class="card-title"><i class="fa-solid fa-flag pe-2 fs-5 "></i>40</h2>
                  <p class="card-text">Trips</p>
                </div>
              </div>
        </div>

        <div class="">
            <div class="col-lg-3 col-md-6 col-sm-12 card text-center border-0 blueCard" style="width :12rem;">
                <div class="card-body">
                  <h2 class="card-title"><i class="fa-solid fa-dollar-sign pe-2 fs-4"></i>4,000</h2>
                  <p class="card-text">Profits</p>
                </div>
              </div>
        </div>

        <div class="">
            <div class="col-lg-3 col-md-6 col-sm-12 card text-center border-0 redCard" style="width :12rem;">
                <div class="card-body ">
                  <h2 class="card-title"><i class="fa-solid fa-users pe-2 fs-5"></i>4,00</h2>
                  <p class="card-text ">Joined people</p>
                </div>
              </div>
        </div>

        <div class="">
            <div class=" col-lg-3 col-md-6 col-sm-12 card text-center border-0 blackCard" style="width :12rem;">
                <div class="card-body">
                  <h2 class="card-title"><i class="fa-solid fa-eye pe-2 fs-5"></i>1,000</h2>
                  <p class="card-text">Viewed people</p>
                </div>
              </div>
        </div>

      </div>
    </div>
  </div>
</section>
