* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --black-color: #272727;
    --white-color: #fff;
    --yellow-color: #ffc857;
    --blue-color: #009fb7;
    --gray-color: #696773;
    --lightgray-color: #e0e0e0;
    --red-color: #db3a34;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
